@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-transform: lowercase;
  font-family: Nunito;
}
body {
  background: rgb(31, 41, 55);
}
button {
  text-transform: lowercase;
}
